@import "./vars.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.msr {
  font-family: "Material Symbols Rounded";
  font-size: 24px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: $black;
  color: $white;
  font-size: 14px;
}

.font-game {
  font-family: "Press Start 2P", cursive !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  h2 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: start;
    width: $section-content-width;
    font-weight: 800;
  }
  p {
    width: $section-content-width;
    text-align: justify;
  }
}