/* Color styles */
$black: #0C0805;
$white: #FFFFFF;
$green-dark: #169871;
$green-light: #38F86E;
$golden: #EFD36F;
$red: #B5301D;
$glass-white: #7B7B7B;
$glass-black: #242424;
$glass-black-deep: #000000;
$glass-black-dark: #2D2D2D;

/* Effect styles */
$glass-blur: blur(8px);
$default-blur: blur(4px);
